$primary-color:#3D1101;
$secondary-color:lighten($primary-color,86%);
$storeName-font-size:50px;
$font-size-l:36px;
$font-size-m:24px;
$font-size-s:18px;
$shadow: 3px 3px 4px rgba($color: black, $alpha: 0.16);